<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.colorsmash">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconbricks"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconbricks"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".CheckWheterToBeTestedActivity"></activity>
        <activity android:name=".DiagnosisResultsActivity" />
        <activity android:name=".GameInstructionsActivity" />
        <activity android:name=".DiagnosisActivity" />
        <activity android:name=".GameFunctionalityActivity" />
        <activity android:name=".ShowPreviousScoresActivity" />
        <activity android:name=".UserGameActivity"
            android:noHistory="true"/>
        <activity android:name=".UserOptionsActivity"
            android:noHistory="true"/>
        <activity android:name=".ChangeUserColorsActivity" />
        <activity android:name=".AdminStatisticsActivity" />
        <activity android:name=".LeaderBoardActivity" />
        <activity android:name=".StartGameActivity"
            android:noHistory="true"/>
        <activity android:name=".PersonalInfo" />
        <activity android:name=".MyDiagnosisActivity" />
        <activity android:name=".ShowUsers" />
        <activity android:name=".AdminOptions" />
        <activity
            android:name=".AdminLoginActivity"
            android:label="@string/title_activity_admin_login" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>